
<div class="layout-container">


  {{ page.header_top }}

  <div class="header-hero"

    {% set background_style = '' %}
    {% if node.field_hero_background_video is not empty %}
      {% set background_style = 'background: none;' %}
    {% else %}
      {% set background_style = hero_background_image_url %}
    {% endif %}

    <div class="header-hero" style="background: url('{{ background_style }}');">
      {% if node.field_hero_background_video.entity is not empty %}
      {% set media_entity = node.field_hero_background_video.entity %}
      {% if media_entity.field_media_video_file.entity is not empty %}
        <video autoplay loop muted playsinline class="hero-video-background">
          <source src="{{ file_url(media_entity.field_media_video_file.entity.uri.value) }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      {% endif %}
    {% endif %}

    <header role="banner">
      {{ page.header }}
    </header>

    {{ page.primary_menu }}
    {{ page.secondary_menu }}
    {{ page.breadcrumb }}
    {{ page.highlighted }}
    </div>

    {% if page.hero_bottom %}
    <div class="hero-bottom">
      {{ page.hero_bottom }}
    </div>
  {% endif %}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    
    <div class="layout-content">
      {{ page.content }}
    </div>

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

    {% include '@iketheme/templates/layout/footer.html.twig' %}

</div>{# /.layout-container #}

