
<div class="layout-container {% if node is defined %}node-id-{{ node.id }}{% endif %}">

  <div class="header-hero" style="background-image: url('{{ hero_background_image_url }}');">
    <div class="hero-inner">
      <header role="banner">
        {{ page.header }}
      </header>

      {{ page.primary_menu }}
      {{ page.secondary_menu }}

      {{ page.breadcrumb }}

      {{ page.highlighted }}
      </div>
  </div>

  {% if page.hero_bottom %}
    <div class="hero-bottom">
      {{ page.hero_bottom }}
    </div>
  {% endif %}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>

    <div class="layout-content">
      {{ page.content }}
    </div>

    {# Render the right sidebar if there is content #}
    {% if page.right_sidebar %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.right_sidebar }}
      </aside>
    {% endif %}
    
  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

  {# {% include '@iketheme/templates/layout/footer.html.twig' %} #}

</div>
