
<div class="paragraph-featured-soldiers">
  <div class="paragraph-inner">
  <div class="paragraph-padding">

    <div class="paragraph-heading">
      <div class="heading-text">
        <h2 class="display-large">{{ content.field_title }}</h2>
        <p class="heading-small">{{ content.field_subheading|render|striptags|raw }}</p>
        {{ content.field_link_button}}
      </div>
        {{ content.field_section_icon }}
    </div>
    <div class="soldiers-row-text">
      <h3 class="heading-medium">Featured Soldiers</h3>
      <p class="body-large">{{ content.field_body|render|striptags|raw }}</p>
    </div>
    {{ content.field_paragraph_view_reference }}
  </div>
  </div>
</div>
