
{%
  set classes = [
    'content-wrapper',
    'flex-container',
    field_image_position.value == 'right' ? 'imageRight' : 'imageLeft'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if field_image_position.value == 'right' %}
    <div class="field-text">{{ content.field_text }}</div>
    <div class="field-text">right</div>
    <div class="field-image">{{ content.field_image }}</div>
  {% else %}
    <div class="field-image">{{ content.field_image }}</div>
    <div class="field-text">left</div>
    <div class="field-text">{{ content.field_text }}</div>
  {% endif %}
</div>
