
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="paragraph-inner">
      {% block content %}
        <div class="{{ paragraph.field_link_type.value }}">
          {{ content.field_markup }}
          <h3 class="field-text heading-medium">{{ content.field_heading_3|render|striptags|raw }}</h3>
          <p class="body-medium">{{ content.field_subheading|render|striptags|raw }}</p>
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
