{{ attach_library('iketheme/node') }}

<article{{ attributes.addClass(classes) }}>

  <div{{ content_attributes.addClass('node__content') }}>
    
    {# Wrap text content fields inside text-container #}
    <div class="text-container">
      
      {# Render the Subheading if it exists #}
      {% if node.field_subheading.value is not empty %}
        <div class="subheading">
          <p>{{ node.field_subheading.value }}</p>
        </div>
      {% endif %}

      {# Render the Body Field #}
      {% if node.body.value is not empty %}
        <div class="body-content">
          {{ node.body.value|raw }}
        </div>
      {% endif %}

      {# Render the Grade Levels Field #}
      {% if node.field_program_length is not empty %}
        <div class="field-container grade-levels">
          <p class="label">Program Length:</p>
          <p>{{ node.field_program_length.value }}</p>
        </div>
      {% endif %}

      {# Render the Grade Levels Field #}
      {% if content.field_grade_levels_select %}
        <div class="field-container grade-levels">
          <p class="label">Grade Levels:</p>
          {{ content.field_grade_levels_select }}
        </div>
      {% endif %}

      {% if node.field_group_reference.entity %}
      <div class="field-container program-group">
        <p class="label">Program Group:</p>
        <p>{{ node.field_group_reference.entity.label }}</p>
      </div>
    {% endif %}

    <div class="button-light">
      <a href="/page/book-your-learning-experience" class="button">Book Your Experience</a>
    </div>


    </div> {# /.text-container #}

    {# Render the Summary Image if it exists #}
    {% if node.field_summary_image.entity.uri.value is not empty %}
      <div class="image-container">
        <img src="{{ file_url(node.field_summary_image.entity.uri.value) }}" alt="Summary Image">
      </div>
    {% endif %}
  
  </div>

</article>
