{% macro menu_links(items, attributes, menu_level) %}
  {% if items %}
    <ul{{ attributes.addClass('menu-level-' ~ menu_level) }}>
      {% for item in items %}
        <li{{ item.attributes.addClass(item.in_active_trail ? 'active-trail') }}>
          <a href="{{ item.url }}">{{ item.title }}</a>
          {% if item.below %}
            {{ _self.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

