{{ attach_library('iketheme/flag') }}

{% set url = "/node/" ~ row._entity.nid.value %}
{% set image = fields.field_summary_image.content %}
{% set title = fields.title.content|striptags|raw %}
{% set grade_levels_raw = fields.field_grade_levels_select.content|striptags %}
{% set flag_link = fields['link_flag'].content %} 

<a href="{{ url }}">
  <div class="lesson-summary-image">
    {% if image %}
      {{ image }}
    {% endif %}
  </div>
  <div class="text-container">
    <h3 class="heading-small">{{ title }}</h3>
    
    {% if grade_levels is defined and grade_levels|length > 0 %}
      {% set first_grade = grade_levels|first %}
      {% set last_grade = grade_levels|last %}
      <p>Grade Levels: {{ first_grade }} - {{ last_grade }}</p>
    {% else %}
      <p class="">Grade Levels: {{ grade_levels_raw }}</p>
    {% endif %}

    <div class="flag-link-view">
      {{ flag_link }}
    </div> 
  </div>
</a>
