{{ attach_library('iketheme/flag') }}

{# Build node URL #}
{% set url = "/node/" ~ row._entity.nid.value %}
{% set image = fields.field_summary_image.content %}
{% set title = fields.title.content|render|striptags|raw %}
{% set subheading = fields.field_subheading_1.content %}
{% set grade_levels_raw = fields.field_grade_levels_select.content|striptags %}
{% set flag_link = fields['link_flag'].content %}

<a href="{{ url }}">
  <div class="programs-summary-image">
    {% if image %}
      {{ image }}
    {% endif %}
  </div>
  <div class="text-container">
    <div class="heading-small">{{ title|raw }}</div>
    <p class="body-small">{{ subheading }}</p>

    {% if fields.field_subheading is defined %}
      <p>{{ fields.field_subheading.content }}</p>
    {% else %}
      <p>Field not found</p>
    {% endif %}
    
    {% if grade_levels_raw is not empty %}
      {% set grade_levels = grade_levels_raw|split(',') %}
      {% if grade_levels is defined and grade_levels|length > 0 %}
        {% set first_grade = grade_levels|first %}
        {% set last_grade = grade_levels|last %}
        <p class="grade-levels">Grade Levels: {{ first_grade }} - {{ last_grade }}</p>
      {% else %}
        <p>No grade levels available</p>
      {% endif %}
    {% else %}
      <p>Grade Levels: {{ grade_levels_raw }}</p>
    {% endif %}

    <div class="flag-link-view">
      {{ flag_link }}
    </div> 
  </div>
</a>
